.cont-pedido{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1bfbf;
}
.dato-cliente-cuit{
    display:flex;    
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #080808;
    background-color: rgb(216, 79, 79);
}
.btn-carga-data-cliente-remito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: large;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background-color: #080808;
}
.formulario{
    display:flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    border-radius: 30px;
    border: 2px solid #080808;
    background-color: rgb(216, 79, 79);
}
.cont-items-form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
/* tabla items pedido*/
.cont-tabla-items-pedido{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.cont-item-cantidad,
.cont-item-producto,
.cont-item-unitario,
.cont-item-costo,
.cont-item-importe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.cont-item-cantidad{
    width: 10%;
}
.cont-item-producto {
    width: 40%;
}
.cont-item-unitario {
    width: 20%;
}
.cont-item-importe{
    width: 10%;
}
.label-cuit-remito,
.label-formulario {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}
.label-cuit-remito{
    margin-right: 5px;
}
.input-cuit-remito,
.input-cant-formulario,
.input-producto-formulario,
.input-unitario-formulario,
.input-costo-formulario,
.input-importe-formulario,
.input-bultos-formulario {
    border-radius: 5px;
    height: 25px;
    border: none;
    width: 90%;
    padding: 5px;
    font-size: 23px;
}
.input-cuit-remito{
    width: 250px;
    margin-right: 5px;
    
}
.input-producto-formulario{
    width: 90%;
}
.input-unitario-formulario{
    width: 68%;
}
.input-costo-formulario{
    width: 200px;
    margin: 0;
}
.input-bultos-formulario{
    margin-bottom: 10px;
}
.btn-cargarProd{
    width: 50%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #080808;
    margin-bottom: 10px;
}
/* estilos pedido agregado */
.cont-item-agregado{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
}
/* estilos remito */
.cont-remito-pedido{
    width: 100%;
}
.btn-elimina-item-pedido{
    border: none;
    border-radius: 50px;
}
.icono-elimina-item{
    color: red;
}
