.modal-content {
    width: 80%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    background: rgb(88, 87, 87);
}
.cont-entrega-boton-cerrar{
    margin-bottom: 25px;
}
.btn-cerrar-modal-entrega{    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* centro eje x, junto al left de arriba */
    margin-top: 5px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background-color: aquamarine;
}
.cont-entrega-form{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-entrega{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;    
    background-color: var(--background-color-navBar-claro);
}
.cont-item-data-agregaPago{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label-monto,
.input-monto{
    font-size: 23px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.label-monto{
    margin-top: 10px;
}
.btn-carga-entrega{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 23px;
}
/* tabla */
.cont-tabla-entregas{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tablaEntregas tbody tr:nth-of-type(even) {
    background-color: #515050;
}
.tablaEntregas tbody tr:hover {
    background-color: #9a9595;
}
.errors{
    color: red;
}
.cont-btne-entrega{
    display: flex;
    justify-content: center;
}
.btns-edit-elim-entrega{
    border-radius: 20%;
}