.cont-modal-entregaCliente{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: rgb(75, 76, 77);
}
.btn-cerrar-modal-entrega{
    color: #fff;
    background-color: aquamarine;
    position: relative;
    top: 130px;
    font-size: 20px;
    border-radius: 30px;
}
.formulario-monto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    top: 150px;
    background-color: var(--background-color-navBar-claro);
}
.cont-item-data-agregaPago{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label-monto,
.input-monto{
    font-size: 23px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.label-monto{
    margin-top: 10px;
}
.btn-carga-entrega{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 23px;
}
.entregaMonto{
    position: relative;
    top: 170px
}
.entregaMonto tbody tr:nth-of-type(even) {
    background-color: #515050;
}
.entregaMonto tbody tr:hover {
    background-color: #9a9595;
}
.errors{
    color: red;
}