.btn-edita-cliente {
    color: green;
    background-color: #fdfafa;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/* estilos cont modal */
.cont-modal-lista-clientes{
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090909;
    z-index: 1;
}