.cont-form-compra{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: antiquewhite;
}
.cont-items-form-compra{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid salmon;
    padding: 5px;
    margin-top: 10px;
}
.cont-items-compra{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnCompra{
    margin-top: 10px;
}
.cont-items-pedido{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cont-compra-detalle-proveed{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-item{
    display: flex;
    flex-direction: column;
}
.label-crea-compra {
    font-size: 23px;
}
.input-pedido {
    width: 220px;
    font-size: 23px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.numCompra{
    width: 120px;
}

.compra{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
}