.cont-gralRemito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* medida de hoja A4 en px */
/*
    width: 148mm;
    height: 210mm;
 */
.cont-form-remito{
    width: 561px;
    height: 793px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-remito{
    width: 561px;
    height: 793px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid brown;
}
/* estilos contenedor sup */
.cont-remito-sup{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: aqua;
}
.cont-remito-sup-izq{
    width: 60%;
    height: 150px;
    display: flex;
    background-color: var(--background-color-remito);
}
.cont-remito-sup-info-empresa{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cont-remito-sup-logo{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.logo-remito{
    width: 60px;
    height: 60px;
}
.cont-info-empresa{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-logo{
    width: 180px;
    height: 40px;
}
.cont-remito-sup-info-empresa p{
    margin: 0;
    font-size: 12px;    
}
.cont-remito-sup-info-X{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white; 
    border-right: 2px solid white;
    color: #fff;
}
.cont-letra-x{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra-x{
    font-size: 40px;
    height: 20px;
}
.cont-doc-no-valido{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-cont-X{
    margin: 0;
    font-size: 10px;
}
/* estilos cont datos Remito + fecha + data empresa */
/* estilos cont sup der */
.cont-remito-derecho{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.cont-remito-derecho-SUP, 
.cont-remito-derecho-INF {
    display: flex;
    flex-direction: column;
    height: 50%;
    color: brown;
}
.cont-remito-derecho-SUP-titulo,
.num-remito,
.fecha-remito {
    margin: 10px 0 0 10px;
}
.cont-remito-derecho-INF{
    display: flex;
    flex-direction: row;
}
.cont-remito-derecho-INF-izq {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.datos-empresa-afip-IZQ{
    margin-left: 10px;
}
.cont-remito-derecho-INF-der{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}
.datos-empresa-afip-DER {
    margin-right: 10px;
}

/* estilos cont info CLIENTE */
.cont-remito-datos-cliente{
    width: 90%;
    color: brown;
}
.cont-remito-datos-cliente-Item-Localidad-Telef,
.cont-remito-datos-cliente-Item-AFIP {
    display: flex;
    flex-direction: row;
}
.cont-remito-datos-cliente-Item-NombreYApe,
.cont-remito-datos-cliente-Item-Direccion,
.cont-remito-datos-cliente-Item-Localidad-Telef,
.cont-remito-datos-cliente-Item-AFIP,
.cont-remito-datos-cliente-Item-CondicionPago {
    margin-top: 10px;
}
.cont-remito-datos-cliente-Item-NombreYApe{
    display: flex;
}
.cont-remito-datos-cliente-Item-Nombre{
    display: flex;
    width: 50%;
}
.lable-remito{
    margin-right: 5px;
}
.input-remito-nombre,
.input-remito-domicilio,
.input-remito-localidad,
.input-remito-telefono,
.input-remito-iva,
.input-remito-cuit {
    width: 90%;
    border: none; 
    border-bottom: 2px solid brown; 
}
.cont-localidad,
.cont-telefono,
.cont-IVA,
.cont-CUIT {
    width: 50%;
}
.input-remito-localidad{
    width: 80%;
}
.input-remito-telefono{
    width: 90%;
}
.input-remito-cuit{
    width: 83.5%;
}
.cont-remito-datos-cliente-Item-CondicionPago{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.cont-condicion-pago{
    display: flex;
    width: 60%;
}
.lable-remito-condicion{
    padding: 3px 10px;
    color: #fff;    
    background-color: rgba(132, 73, 73, 0.718);

}
.input-remito-condicionPago{
    width: 50%;
    padding: 3px 10px;
}

/* estilos para la tablas de items */
.cont-remito-items{
    width: 90%;
}
.pedido-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.pedido-tabla th {
    background-color: var(--background-color-remito);
    color: white;
    padding: 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
/* estilos encabezados tabla */
.encabezado-cantidad{
    width: 90px;
}
.encabezado-unitario{
    width: 90px;
}
.encabezado-importe{
    width: 90px;
}
/*----------------------------*/
.pedido-tabla td {
    padding: 10px;
    border-left: 2px solid var(--background-color-remito);
    border-right: 2px solid var(--background-color-remito);
    border-top: 1px dotted var(--background-color-remito);
    border-bottom: 1px dotted var(--background-color-remito);
}
.pedido-tabla tr:last-child td {
    border-bottom: none;
}
.pedido-tabla tbody tr:nth-child(odd) td {
    background-color: white;
}
.pedido-tabla tbody tr:nth-child(even) td {
    background-color: white;
}
.pie-tabla-palabra {
    text-align: end;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--background-color-remito);
    color: white;
}
.pedido-table tfoot td {
    padding: 10px;
}
.celda-total-cifra{
    border-top: 1px solid var(--background-color-remito);
    border-bottom: 1px solid var(--background-color-remito);
}
/* estilos input-item-remito */
.nput-item-1-cantidad{
    width: 100%;
    height: 100%;
    border: none;
    font-size: medium;
}
/* botón imp */
.btn-crea-pedido,
.boton-imprimir,
.btn-limpiar-datos {
    margin-top: 10px;
    color: #fff;
    font-size: 23px;
    background-color: black;
    border-radius: 5px;
}
.btn-limpiar-datos{
    margin-right: 10px;
}
