.cont-gralRemito{
    width: 561px;
    height: 793px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* medida de hoja A4 en px */
/*
    width: 148mm;
    height: 210mm;
 */
.cont-form-remito{
    width: 577px;
    height: 813px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cont-remito{
    width: 577px;
    height: 813px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(208, 162, 162);
    background-color: #fff;
}
/* estilos contenedor sup */
.cont-remito-sup{
    width: 100%;
    height: 180px;
    display: flex;
}
.cont-remito-sup-izq{
    width: 60%;
    height: 180px;
    display: flex;
    background-color: var(--background-color-remito);
}
.cont-remito-sup-info-empresa{
    width: 80%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cont-remito-sup-logo{
    width: 20%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}
.logo-remito{
    width: 60px;
    height: 60px;
    margin-left: 5px;
}
.cont-info-empresa{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-logo{
    width: 180px;
    height: 40px;
    margin-bottom: 8px;
}
.cont-remito-sup-info-empresa p{
    margin: 0;
    font-size: 14px;    
}
.cont-remito-sup-info-X{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white; 
    border-right: 2px solid white;
    color: #fff;
}
.cont-letra-x{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra-x{
    font-size: 40px;
    height: 20px;
}
.cont-doc-no-valido{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-cont-X{
    margin: 0;
    font-size: 10px;
}
/* estilos cont datos Remito + fecha + data empresa */
/* estilos cont sup der */
.cont-remito-derecho{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.cont-remito-derecho-SUP {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 50%;
} 
.derecho-SUP-titulo,
.num-remito,
.fecha-remito {
    margin: 5px;
    font-size: 17px;
    color: brown;
}
.cont-remito-derecho-INF {
    display: flex;
    height: 50%;
    color: brown;
}
.cont-remito-derecho-INF-izq,
.cont-remito-derecho-INF-der {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.datos-empresa-afip-IZQ,
.datos-empresa-afip-DER{
    margin: 1px;
    font-size: 12px;
    padding: 1px;
}
.cont-remito-derecho-INF-der{
    align-items: end;
}
.datos-empresa-afip-DER{
    margin-right: 2px;
}

/* estilos cont info CLIENTE */
.cont-remito-datos-cliente{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: brown;
}
.cont-remito-datos-cliente-Item-NombreYApe,
.cont-remito-datos-cliente-Item-Direccion,
.cont-remito-datos-cliente-Item-Localidad-Telef,
.cont-remito-datos-cliente-Item-AFIP, 
.cont-remito-datos-cliente-Item-CondicionPago {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.cont-localidad,
.cont-telefono,
.cont-CUIT,
.cont-IVA {
    display: flex;
}
.cont-remito-datos-cliente-Item-Nombre{
    display: flex;
    width: 50%;
}
.lable-remito{
    margin-right: 5px;
    font-size: 18px;
}
.input-remito-nombre,
.input-remito-domicilio,
.input-remito-localidad,
.input-remito-telefono,
.input-remito-iva,
.input-remito-cuit {
    width: 90%;
    border: none; 
    border-bottom: 2px solid brown;
    font-size: 18px;
    padding: 2px; 
}
.cont-localidad,
.cont-telefono,
.cont-IVA,
.cont-CUIT {
    width: 50%;
}
.input-remito-localidad{
    width: 80%;
}
.input-remito-telefono{
    width: 90%;
}
.input-remito-cuit{
    width: 83.5%;
}
.cont-condicion-pago,
.cont-estado {
    display: flex;
    margin-top: 10px;
}
.lable-remito-condicion{
    width: auto;
    color: #fff;
    font-size: 20px;    
    background-color: rgba(132, 73, 73, 0.718);
}
.input-remito-condicionPago,
.input-remito-estado{
    width: 130px;
    font-size: 18px;
    margin-left: 2px;
}

/* estilos para la tablas de items */
.cont-remito-items{
    width: 90%;
}
.pedido-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.pedido-tabla th {
    background-color: var(--background-color-remito);
    color: white;
    padding: 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
/* estilos encabezados tabla */
.encabezado-cantidad,
.encabezado-importe {
    width: 70px;
}
.encabezado-unitario{
    width: 80px;
}
/*----------------------------*/
.pedido-tabla td {
    padding: 5px;
    text-align: center;
    border-left: 2px solid var(--background-color-remito);
    border-right: 2px solid var(--background-color-remito);
    border-top: 1px dotted var(--background-color-remito);
    border-bottom: 1px dotted var(--background-color-remito);
}
.pedido-tabla tr:last-child td {
    border-bottom: none;
}
.pedido-tabla tbody tr:nth-child(odd) td {
    background-color: white;
}
.pedido-tabla tbody tr:nth-child(even) td {
    background-color: white;
}
.input-bultos,
.input-transporte {
    border-radius: 10px;
    border: none;
    width: 60px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.pie-tabla-palabra {
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.pedido-table tfoot td {
    padding: 10px;
}
.celda-total-cifra{
    border-top: 1px solid var(--background-color-remito);
    border-bottom: 1px solid var(--background-color-remito);
}
/* botón imp */
.btn-crea-pedido {
    width: 500px;
    min-width: 200px;
    color: #fff;
    font-size: 23px;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* palabra pagado */
.cont-palabra-pagado{
    position: absolute;
    top: 90%;
}
.diagonal-text {
    display: inline-block; /* Necesario para aplicar transformaciones */
    transform: rotate(-45deg); /* Ajusta el ángulo según sea necesario */
    /* Otros estilos opcionales */
    font-size: 23px;
    font-weight: 500;
    color: red;
    margin: 10px;
}

