.cont-gralRemito{
    width: 210mm; /* Ancho exacto de una hoja A4 en mm */
    height: 297mm; /* Alto exacto de una hoja A4 en mm */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-form-remito{
    width: 210mm; /* Ancho exacto de una hoja A4 en mm */
    height: 297mm; /* Alto exacto de una hoja A4 en mm */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(42, 42, 42);
    background-color: #fff;

}
.cont-remito{
    width: 210mm; /* Ancho exacto de una hoja A4 en mm */
    height: 297mm; /* Alto exacto de una hoja A4 en mm */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
}
/* estilos contenedor sup */
.cont-remito-sup{
    width: 100%;
    height: 250px;
    display: flex;
    border-bottom: 1px solid black; /* agregada */
}
.cont-remito-sup-izq{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cont-remito-sup-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-remito{
    height: 80px;
}
.cont-info-empresa{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-logo{
    width: 180px;
    height: 40px;
}
.cont-info-empresa > p{
    margin: 0;
    font-size: 16px;
    margin-left: 47px;
}
.cont-remito-sup-info-X{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black; 
    border-right: 1px solid black;
    color: black;
}
.cont-letra-x{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra-x{
    font-size: 60px;
    font-weight: 400;
    height: 20px;
    margin-top: 10px;
}
.cont-doc-no-valido{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-cont-X{
    margin: 0;
    font-size: 12px;
}
/* estilos cont datos Remito + fecha + data empresa */
/* estilos cont sup der */
.cont-remito-sup-derecho{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-remito-derecho-SUP {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
} 
.derecho-SUP-titulo,
.num-remito,
.fecha-remito {
    margin: 0;
    color: black;
}
.derecho-SUP-titulo {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.num-remito {
    font-size: 22px;
    margin-bottom: 15px;
}
.fecha-remito {
    font-size: 18px;
}
.cont-remito-derecho-INF {
    width: 90%;
    height: 40%;
    display: flex;
    color: black;
    margin-bottom: 5px;
}
.cont-remito-derecho-INF-izq,
.cont-remito-derecho-INF-der {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.datos-empresa-afip-IZQ,
.datos-empresa-afip-DER{
    margin: 1px;
    font-size: 12px;
    padding: 1px;
}
.cont-remito-derecho-INF-der{
    align-items: end;
    /* background-color: aqua; */
}
.datos-empresa-afip-DER{
    margin-right: 2px;
}

/* estilos cont info CLIENTE */
.cont-remito-datos-cliente{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
}
.cont-remito-datos-cliente-Item-NombreYApe,
.cont-remito-datos-cliente-Item-Direccion,
.cont-remito-datos-cliente-Item-Localidad-Telef,
.cont-remito-datos-cliente-Item-AFIP, 
.cont-remito-datos-cliente-Item-CondicionPago {
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.cont-localidad,
.cont-telefono,
.cont-CUIT,
.cont-IVA {
    display: flex;
}
.cont-remito-datos-cliente-Item-Nombre{
    display: flex;
    width: 50%;
}
.lable-remito{
    margin-right: 5px;
    font-size: 20px;
    color: black
}
.input-remito-nombre,
.input-remito-domicilio,
.input-remito-localidad,
.input-remito-telefono,
.input-remito-iva,
.input-remito-cuit {
    width: 90%;
    border: none; 
    /* border-bottom: 2px solid brown; */
    font-size: 18px;
    padding: 2px;
    color: black;
}
.cont-localidad,
.cont-telefono,
.cont-IVA,
.cont-CUIT {
    width: 50%;
}
.input-remito-nombre,
.input-remito-domicilio {
    font-weight: 600;
}
.input-remito-localidad{
    width: 80%;
    font-weight: 600;
}
.input-remito-telefono{
    width: 90%;
}
.input-remito-cuit{
    width: 83.5%;
}
.cont-condicion-pago,
.cont-estado {
    display: flex;
    margin-top: 10px;
}
.lable-remito-condicion{
    width: auto;
    color: black;
    font-size: 20px;    
    /* background-color: rgba(132, 73, 73, 0.718); */
}
.input-remito-condicionPago,
.input-remito-estado,
.input-remito-SinCondicionPago,
.input-remito-sinEstado {
    width: 130px;
    font-size: 18px;
    margin-left: 2px;
}
.input-remito-condicionPago,
.input-remito-estado{
    border: none;
}
.input-remito-SinCondicionPago,
.input-remito-sinEstado {
    background-color: red;
}
/* estilos para vista etiquetas p Cond pago y Estado */
.cont-p-cond-pago-y-estado{
    width: 100%;
    height: 40px;
}
.cont-condicion-pago-p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* estilos para la tablas de items */
.cont-remito-items{
    width: 90%;
}
.pedido-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.pedido-tabla th {
    /* background-color: var(--background-color-remito); */
    color: black;
    padding: 5px;
    border: 1px solid black;
}
/* estilos encabezados tabla */
.encabezado-cantidad,
.encabezado-importe {
    width: 70px;
}
.encabezado-unitario{
    width: 80px;
}
/*----------------------------*/
.pedido-tabla td {
    padding: 5px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}
.pedido-tabla tr:last-child td {
    border-bottom: none;
}
/* .pedido-tabla tbody tr:nth-child(odd) td {
    background-color: white;
}
.pedido-tabla tbody tr:nth-child(even) td {
    background-color: white;
} */
.input-remito-bultos,
.input-transporte,
.sin-transporte,
.input-sin-bultos {
    border-radius: 10px;
    border: none;
    width: 200px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.sin-transporte,
.input-sin-bultos {
    background-color: red;
}
.pie-tabla-palabra {
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.pedido-table tfoot td {
    padding: 10px;
}
.celda-total-cifra{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/* botón imp */
.btn-crea-pedido {
    width: 500px;
    min-width: 200px;
    color: #fff;
    font-size: 23px;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}
/* palabra pagado */
.cont-palabra-pagado{
    position: absolute;
    top: 90%;
}
.diagonal-text {
    display: inline-block; /* Necesario para aplicar transformaciones */
    transform: rotate(-45deg); /* Ajusta el ángulo según sea necesario */
    /* Otros estilos opcionales */
    font-size: 23px;
    font-weight: 500;
    color: red;
    margin: 10px;
}

