.cont-btns-debePago-fechaMas-ffechaMenos{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cont-btns-debe-pagado{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.p-titulo-filtros-estado{
    position: absolute;
    top: -34px;
    left: 0;
    padding: 3px;
    border-radius: 5px;
    margin-left: 2px;
    background-color: #fff;
}
.cont-btns-fecha-max-min{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}
.p-titulo-ordena-fechas{
    position: absolute;
    top: -34px;
    left: 0;
    padding: 3px;
    border-radius: 5px;
    margin-left: 2px;
    background-color: #fff;
}
.debe{
    color: red;
}
.pagado{
    color: green;
}