.cont-lista-clientes{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.client-table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.client-table thead tr {
    background-color: #009879;
    color: #090909;
    text-align: center;
    font-weight: bold;
}
.client-table th,
.client-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}
.centered {
    text-align: center;
}
.client-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.client-table tbody tr:hover {
    background-color: #9a9595;
}
.cont-tabla-botones{
    width: 60px;
    display: flex;
}
.btn-edita-cliente {
    color: green;
    background-color: #fdfafa;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.client-table tfoot{
    background-color: #009879;
}
/* estilos cont modal */
.cont-modal-lista-clientes{
    width: 80%;
    height: 90%;
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090909;
    z-index: 1;
}
