.cont-filtros-fecha{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-busca-por-fecha{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}
.p-titulo-fecha-filtro{
    position: absolute;
    top: -34px;
    left: 0;
    padding: 3px;
    border-radius: 5px;
    margin-left: 2px;
    background-color: #fff;
}
.lable-fecha-filtro,
.input-fecha-filtro {
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}
.input-fecha-filtro{
    margin-right: 10px;
}
.cont-btn-aplicar-fechas{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn-filtros,
.btn-aplicar-fechas,
.btn-resetea-filtros {    
    font-size: large;
    margin-right: 10px;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
}
.btn-aplicar-fechas{
    width: auto;
    padding: 5px 15px;
}