.cont-reportes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-reporte-mes{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-navBar-oscuro);
}
.cont-divLabelInput-btnMopstrar{
    display: flex;
    justify-content: center;
    align-items: end;
}
.cont-label-input{
    display: flex;
    flex-direction: column;
}
.label-año,
.input-año,
.btn-muestraReporte {
    font-size: 23px;
    font-weight: 500;
}
.label-año {
    color: #fff;
}
.input-año {
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}
.btn-muestraReporte{
    height: 33px;
    margin-left: 5px;
    border-radius: 10px;
}
.subTitulo-reportes{
    background-color: yellow;
    margin-top: 15px;
}
.cont-tabla-reportes{
    display: flex;
    justify-content: center;
}
.tabla-reportes{
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.tabla-reportes thead th {
    width: 190px;
    text-align: center;
}
.tabla-reportes tbody td {
    text-align: center;
}