.cont-lista-remitos-proveedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-cont-lista-remitos-proveedor{
    margin-top: 10px;
    margin-bottom: 0;
}
.cont-filtros-btnTeset-lista-remitos-proveedor{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(74, 75, 75);
}
.cont-filtros-lista-remitos-proveedor{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.cont-btnReset-lista-remitos-proveedor{
    width: 90%;
}
.titulo-lista-prov{
    background-color: yellow;
}