.cont-listaRemitosCliente{
    width: 100%;
    min-height: 89.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-filtros-lista-remitos-cliente{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(230, 230, 227);
}
.subCont-filtros-lista-remitos-cliente{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cont-btnReset-lista-remitos-cliente{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mensj-mes-actual{
    font-size: 15px;
    background-color: yellow;
}
.cont-segundo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.cont-modal-modifica-remito{
    position: absolute;
    top: 50;
    left: 15%;
    width: 70%;
    height: auto;
    z-index: 1;
}
.btn-imp-pdf-remitoCliente{
    width: auto;
    height: auto;
    font-size: 18px;
    border: solid 1px black;
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
    background-color: #fff;
}

/* Estilos para impresión */
@media print {
    body * {
        visibility: hidden;
    }

    #cont-segundo, #cont-segundo * {
        visibility: visible;
    }

        #cont-segundo {
            position: absolute;
            left: 0;
            top: 0;
            width: 210mm;
            /* Ancho de una hoja A4 en orientación vertical */
            height: 297mm;
            /* Alto de una hoja A4 en orientación vertical */
            overflow: hidden;
        }

    /* Opcional: ajustar tamaños de fuentes y espacios */
    .cont-remito, .cont-remito * {
        font-size: 12px; /* Ajusta según sea necesario */
        margin: 0;
        padding: 0;
    }
    
    /* Ocultar botones en la impresión */
    .cont-btns-remitosCliente {
        display: none;
    }
}



