.cont-modal-Cliente{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-cerrar-modal-cliente{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    background-color: aqua;
}