.cont-quienesSomos{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.parrafo-quienesSomos{
    text-align: center;
    padding: 20px;
    color: #e6e3e3;
    font-size: 35px;
    font-weight: 500;
    font-variant:inherit;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgba(17, 17, 18, 0.723);
}

/* responsive */
@media screen and (max-width:750px){
    .cont-quienesSomos{
        width: 80%;
        height: 300px;
    }
    .parrafo-quienesSomos{
        padding: 20px;
        font-size: 25px;
        font-weight: 500;
    }
}