.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* cont-izq */
.cont-izq {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-navBar-oscuro);
}
.logo {
    width: 60px;
    height: 60px;
    margin: 3px 10px 3px 0;
}
/* cont der */
.navbar-menu {
    width: 60%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(111, 201, 201);
}
.navbar-item, 
.navbar-item-cliente {
    position: relative;
    margin-right: 1rem;
    font-size:x-large;
    font-weight: 600;
    margin-left: 30px;
    color: rgb(20, 20, 20);
    cursor: pointer;
}
.navbar-item:hover {
    color: #ddd;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.dropdown-item {
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    font-size: large;
}
.dropdown-item:hover {
    background-color: #555;
}
.link-menu {
    text-decoration: none;
}
/* cont der */
.cont-der{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 201, 201);
}
.btn-logout{
    margin-left: 5px;
    border: none;
    background-color: rgb(111, 201, 201);
}

/* responsive */
@media screen and (max-width: 800px) {
    .navbar {
        width: 100%;
        height: 50px;
    }
    .cont-izq {
        width: 30%;
    }
    .logo {
        width: 40px;
        height: 40px;
        margin: 3px 10px 3px 0;
    }
    .texto-logo{
        display: none;
    }
    .navbar-menu {
        width: 70%;
    }
    .navbar-item-cliente {
        text-align: center;
        font-size:15px;
    }
    /* cont-izq */
    .cont-der {
        display: none;
    }
}