.cont-formulario-producto{
    width: 97%;
    height: auto;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}
.cont-form-producto{
    width: 65%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-navBar-oscuro);
}
.cont-lista-prods{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo-listaProds-creaProds{
    margin: 0;
}
.cont-form-item-nombre,
.cont-dos-items{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.label-form-modif-prod{
    font-size: 23px;
    margin-right: 5px;
    color: #fff;
}
.input-nombre-form-modif-prod{
    width: 600px;
    min-width: 200px;
    font-size: 23px;
    border-radius: 10px;
}
.cont-dos-items{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cont-form-item-precio,
.cont-form-item-envase {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.input-precio-form-modif-prod,
.input-envase-form-modif-prod {
    width: 266px;
    font-size: 23px;
    border-radius: 10px;
}
.cont-imgagen-precioLista{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-img-vistaPrevia{
    width: 85%;
}
.cont-imagen-prod{
    width: 100%;
    display: flex;
    flex-direction: column;    
    margin-bottom: 15px;
}
.label-img{
    font-size: 23px;
    background-color: rgb(228, 230, 232);
}
.input-carga-img{
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.pre-imagen-prod{
    width: 200px;
    height: 120px;
    border-radius: 10px;
}
.posicionLista{
    width: 100px;
}
.error{
    color: red;
}