.cont-listaRemitosCompra-componente{
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.titulo-lista-compras{
  margin: 0;
}
.listaCompras{
  width: 100%;
}
.saldo-positivo {
    color: green;
  }
  
  .saldo-negativo {
    color: red;
  }