
.componente-modal-edita {
    width: 95%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background: rgb(123, 66, 173);
    z-index: 3;
}
.formulario-editaMonto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;    
    background-color: var(--background-color-navBar-claro);
}
.btn-cerrar-modal-editaEntrega{    
    position: absolute;
    top: 13px;
    left: 72%;
    transform: translateX(-50%); /* centro eje x, junto al left de arriba */
    margin-top: 5px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: var(--background-color-navBar-claro);
    background: rgb(123, 66, 173);
}