.cont-cuentaCC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cont-titulo-lista-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}
.btn-imprimir{
    margin-bottom: 50px;
}
