.cont-principal-detalleRVenta {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-remitos-detalleRVenta {
    width: 210mm; /* Ancho exacto de una hoja A4 en mm */
    height: 320mm; /* Alto exacto de una hoja A4 en mm */
}

@media print {
    
    body * {
        margin: 0;
        padding: 0;
        visibility: hidden; /* Ocultar todo el contenido del cuerpo */
    }

    #imp-remitos, #imp-remitos * {
        visibility: visible; /* Mostrar solo el contenido del div con id 'imp-remitos' */
    }

    #imp-remitos {
        transform: scale(1); /* Ajustar para ocupar la hoja completa */
        width: 210mm; /* Ancho exacto de una hoja A4 en mm */
        height: 297mm; /* Alto exacto de una hoja A4 en mm */
        margin: 0;
        padding: 0;
    }

    @page {
        size: A4 portrait; /* Asegura el tamaño correcto de la página */
        margin: 0; /* Márgenes de la página */
    }
}
