.cont-lista-clientes{
    display: flex;
    justify-content: center;
}

.label-searchP{
    font-size: 23px;
    margin-right: 5px;
}
.input-search-producto{
    font-size: 23px;
}
.client-table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    text-align: left;
}
.client-table thead tr {
    background-color: #009879;
    color: #090909;
    text-align: left;
    font-weight: bold;
}
.client-table th,
.client-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}
.centered {
    text-align: center;
}
.client-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.client-table tbody tr:hover {
    background-color: #9a9595;
}
.btn-elim-prods {
    cursor: pointer;
}
.cont-modal-lista-clientes{
    width: 90%;
}