.cont-principal-detalleR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cont-remitos-detalleR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}